<div class="container mx-auto flex gap-1">
  <div
    class="w-48 h-max text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    @for (category of categories.value(); track category.id) {
      <a
        routerLink="/category/{{ category.slug }}"
        (click)="changeCategorySelect(category.id)"
        [ariaCurrent]="category.isSelect"
        class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer"
        [ngClass]="{
          ' text-white bg-blue-700  rounded-t-lg  dark:bg-gray-800 dark:border-gray-600':
            category.isSelect,
          ' hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white':
            !category?.isSelect,
        }"
      >
        {{ category.name }}
      </a>
    }
  </div>

  <div class="grid grid-cols-4 gap-8">
    @for (product of products.value(); track product.id; let i = $index) {
      <app-product
        [product]="product"
        (addToCard)="addProductFromChild($event)"
      />
    }
  </div>
</div>
